// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.govuk-header__logo,
.govuk-header__content {
  box-sizing: border-box;
}

.govuk-header__logo {
  margin-bottom: 10px;
  padding-right: 50px;
}

@media (min-width: 40.0625em) {
  .govuk-header__logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 50%;
    padding-right: 15px;
    float: left;
    vertical-align: top;
  }
}

@media (min-width: 48.0625em) {
  .govuk-header__content {
    width: 50%;
    padding-left: 15px;
    float: left;
  }
}

.dwp-timeline {
  border-left: 3px solid #005ea5;
  list-style-type: none;
  padding: 0;
}

.dwp-timeline__entry {
  margin: 2em 0;
  padding-left: 1em;
  position: relative;
}



.dwp-timeline__entry::before {
  background-color: #005ea5;
  content: ' ';
  height: 3px;
  left: 0;
  position: absolute;
  top: .5em;
  width: 10px;
}

.dwp-timeline__entry .dwp-timeline__title {
  display: block;
  font-weight: 700;
}

.dwp-timeline__entry .dwp-timeline__author,
.dwp-timeline__entry .dwp-timeline__date {
  color: #6f777b;
  display: block;
}

.dwp-timeline__entry .dwp-timeline__info {
  margin-top: 0;
}

.dwp-timeline__entry .dwp-timeline__body {
  display: block;
}


//card css

.dwp-card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
}

.dwp-card__content {
  padding: 24px;
  position: relative;
}

.dwp-card--clickable {
  border-bottom-width: 4px;
}

.dwp-card--clickable:hover {
  border-color: #aeb7bd;
}

.dwp-card--clickable:hover, .dwp-card--clickable:active {
  cursor: pointer;
}

@media (min-width: 40.0625em) {
  .dwp-card {
    margin-bottom: 48px;
}
  .dwp-card__content {
    padding: 32px;
}
}

//Central Claimant Record styling

@media (min-width: 72.5em) {
.app-pane__body {
    width: 100%;
  }
}
@media (min-width: 670px) {
.app-pane__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    position: relative;
    min-height: 0;
    overflow: inherit;
  }
}

.app-subnav {
    margin-bottom: 100px;
    padding: 6px 15px 0 0;
    font-family: arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
}

.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff;
}

.govuk-link--no-underline:not(:hover):not(:active) {
    text-decoration: none;
}
.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
}

.govuk-link--no-visited-state:link {
    color: #1d70b8;
}
.govuk-link:link, .app-prose-scope a:link {
    color: #1d70b8;
}
.app-subnav__link {
    padding: 2px 0;
}

.app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
}

.app-subnav__section--nested .app-subnav__section-item::before {
    content: "—";
    margin-left: -20px;
    color: #505a5f;
}

.app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: normal;
}


@media (min-width: 670px) {
.app-pane__subnav {
    width: 260px;
  }
}

@media (min-width: 670px) {
.app-pane__subnav {
    width: 15%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media (min-width: 670px) {
.app-subnav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

// Styling for timeline

/* DWP */
.dwp-timeline {
  font-family: Arial, sans-serif;
  border-left: 3px solid #1d70b8;
  list-style-type: none;
  padding: 0;
  }
  
  .dwp-timeline__entry {
  margin: 2em 0;
  padding-left: 1.125em;
  position: relative;
  top: -.6em;
  }
  
  .dwp-timeline__entry::before {
  background-color: #1d70b8;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: .6em;
  width: 10px;
  } 

/* MOJ */
.timeline {
    overflow: hidden;
    position: relative;
}

.timeline:before {
    background-color: #1d70b8;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 10px;
    width: 5px;
}

.timeline__item {
    padding-bottom: 30px;
    padding-left: 20px;
    position: relative;
}

.timeline__item:before {
    background-color: #1d70b8;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 15px;
}

.timeline__title {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: inline;
}

.timeline__byline {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #505a5f;
    display: block;
    margin: 0;
}

.timeline__date {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    margin-top: 5px;
    margin-bottom: 0;
}

.timeline__description {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 20px;
}

@media (min-width: 40.0625em) {
    .timeline__title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
  /* 
    .timeline__byline {
        font-size: 16px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    } */

    .timeline__date {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }

    .timeline__description {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

// Styling of head and keydetails bar

.govuk-header {
  border-bottom: 10px solid #000000;
}

.govuk-header__container {
  border-bottom: 0px;
}

.new-key-details-bar {
  width: 1220px;
}

.new-key-details-bar .new-key-details-bar__key-details {
  margin: 0 auto;
  padding: 0px 30px 20px 0px;
  position: relative;
  font-family: "Arial";
}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details {
    padding: 20px 15px;
  }
}

.new-key-details-bar .new-key-details-bar__key-details * {
  color: #000;
}

.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__top-block::after,
.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__bottom-block::after {
  clear: both;
  content: ' ';
  display: block;
}

.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__bottom-block {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  content: ' ';
  padding-top: 10px;
  margin-top: 6px;
}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__bottom-block {
    border: 0;
  }
}

.new-key-details-bar .new-key-details-bar__key-details dd,
.new-key-details-bar .new-key-details-bar__key-details dt {
  float: left;
  font-size: 19px;
  margin-right: 5px;
  margin-inline-start: 0;
}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details dd,
  .new-key-details-bar .new-key-details-bar__key-details dt {
    float: none;
    font-size: 16px;
    margin: 0;
  }
}

.new-key-details-bar .new-key-details-bar__key-details dd {
  margin-right: 20px;
}

.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__bottom-block dd {
  margin-right: 0;
  margin-inline-start: 0;

}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details dd {
    margin-bottom: 20px;
  }
  .new-key-details-bar .new-key-details-bar__key-details dd:last-of-type {
    margin-bottom: 0;
  }
}

.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  margin-right: 10px;
}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__name {
    font-size: 24px;
    line-height: 1.04167;
    float: left;
    margin: 0 5px 0 0;
  }
}

.new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__nino {
  font-size: 24px;
  line-height: 1;
  margin-top: 12px;
}

@media (max-width: 670px) {
  .new-key-details-bar .new-key-details-bar__key-details .new-key-details-bar__nino {
    font-size: 18px;
    float: left;
    margin: 5px 0 0 0;
  }
}

.overview {
  -webkit-box-flex: 1;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 85%;
}

.card { 
  position: relative;
  border-radius: 6px;
  border: 1px solid #b1b4b6;
}

.card__header {
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 15px 20px;
}

.card__body {
  padding: 0 20px 20px;
}

.card__content h3, .card__content p {
  margin: 5px 0;
}

.border-bottom {
  border-bottom: 1px solid #b1b4b6;
}
.govuk-notification-banner {
    margin-bottom: 0;
}

.govuk-width-container {
    max-width: 1200px!important;
}

/* Overrides */
#global-header .header-wrapper{
  max-width:1200px !important;
}

.govuk-grid-column-one-half {
  padding: 0;
}

.govuk-notification-banner__content > * {
    box-sizing: border-box;
    max-width: 850px;
}

/*** Top nav override - do not push to live! ***/

.govuk-header__navigation {
  background-color: #000;
}

.app-side-nav__back {
  border-bottom: 1px solid #d8dde0;
  padding-bottom: 16px;
}

.nhsuk-back-link__link:visited {
  color: #005eb8;
}

a:visited {
  color: #330072;
}
@media (min-width: 40.0625em) {
  .nhsuk-back-link__link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.nhsuk-back-link__link {
  display: inline-block;
  padding-left: 16px;
  position: relative;
  text-decoration: none;
}

.nhsuk-back-link__link .nhsuk-icon__chevron-left {
  height: 24px;
  left: -8px;
  position: absolute;
  top: -1px;
  width: 24px;
}
.nhsuk-icon__chevron-left {
  fill: #005eb8;
}

.app-side-nav__heading {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #4c6272;
  margin-bottom: 12px;
  padding-top: 4px;
}