{% extends "layout.html" %}

{% block pageTitle %}
  Single claimant record prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Central claimant record prototypes  
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="claimant-case-poc">Claimant case POC June 21</a>
              </h2>
              <p class="dwp-card__description">How we display if a user has more than one referral on the service</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="central-claimant-record">Cenrtral claimant record</a>
              </h2>
              <p class="dwp-card__description">Initial look at how we can create a central area for claimant information for all users</p>
            </div>
          </div>
          <div class="dwp-card dwp-card--clickable">
            <div class="dwp-card__content">
              <h2 class="dwp-card__heading dwp-heading-m">
                <a class="dwp-card__link" href="navigation">Navigation</a>
              </h2>
              <p class="dwp-card__description">Prototypes that look at role based access navigation structure for all HAS users</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
