{% extends "layout.html" %}

{% block pageTitle %}
  Referral State Model Prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Navigation
      </h1>

      <h2 class="govuk-heading-m">Admin</h2>

      <p>This prototype looks at naviagtion for an admin user.  It allows a user to do the following: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Click 'find a claimant' and then click search, no NINO or name necessary</li>
        <li>you can see role based navigation for a a basic admin user</li>
        <li>Initial concepts of nav structure, not all pages work</li>
        <li>Left hand nav is sticky, and child elements are anchor points</li>
      </ul>

      <a href="navigation/admin/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <h2 class="govuk-heading-m">Senior admin</h2>

      <p>This prototype looks at naviagtion for a senior admin user.  It allows a user to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Click 'find a claimant' and then click search, no NINO or name necessary</li>
        <li>you can see role based navigation for a a senior admin user</li>
        <li>Initial concepts of nav structure, not all pages work</li>
        <li>Left hand nav is sticky, and child elements are anchor points</li>
      </ul>

      <a href="navigation/admin-senior/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">HCP</h2>

      <p>This prototype looks at naviagtion for a HCP user.  It allows a user to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Click 'find a claimant' and then click search, no NINO or name necessary</li>
        <li>you can see role based navigation for a a senior admin user</li>
        <li>Initial concepts of nav structure, not all pages work</li>
        <li>Left hand nav is sticky, and child elements are anchor points</li>
        <li>'Assess' at the bottom of the navigation opens a new left hand navigation that's contextual for HCPs</li>
        <li>Back link to return to the initial claimant area and navigation</li>
      </ul>

      <a href="navigation/hcp/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <h2 class="govuk-heading-m">Senior HCP</h2>

      <p>This prototype looks at naviagtion for a senior HCP user.  It allows a user to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Click 'find a claimant' and then click search, no NINO or name necessary</li>
        <li>you can see role based navigation for a a senior HCP user</li>
        <li>Initial concepts of nav structure, not all pages work</li>
        <li>Left hand nav is sticky, and child elements are anchor points</li>
        <li>'Assess' at the bottom of the navigation opens a new left hand navigation that's contextual for HCPs</li>
        <li>Back link to return to the initial claimant area and navigation</li>
      </ul>

      <a href="navigation/hcp-senior/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Case manager</h2>

      <p>This prototype looks at naviagtion for a case manager, to show that the pattern can stretch wider than HAS.  It allows a user to do the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>thing here</li>
      </ul>

      <a href="navigation/cm/" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Blue sky prototypes
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="#" aria-describedby="bluesky-prototype-1">Blue sky prototype name here</a></h2>
          <p>something about blue sky ones here.</p>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Archive
          </span>
        </summary>
        <div class="govuk-details__text">

          <h2 class="govuk-heading-m"><a href="#" aria-describedby="Achived-prototype-1">Achived prototype 1</a></h2>
          <p>Something about prototypes here</p>

        </div>
      </details>


      

    </div>
  </div>
{% endblock %}
